.control {
  @apply bottom-10 right-10 flex flex-row
  border-accent-0 border text-accent-0 z-30 shadow-xl select-none;
  height: 48px;
}

.leftControl,
.rightControl {
  @apply px-9 cursor-pointer;
  transition: background-color 0.2s ease;
  
  border: none;
}

.leftControl:hover,
.rightControl:hover {
  /*background-color: rgba(0,0,0,.9) !important;*/
}

.leftControl{position: absolute; width: 100px; height: 48px; left: 0;  /*background-color: rgba(0,0,0,0.4); */ z-index: 100; top: 40%;}
.rightControl{position: absolute; width: 100px; height: 48px; right: 0;  /*background-color: rgba(0,0,0,0.4);*/  z-index: 100; top: 40%;}


.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l border-accent-0;
  right: -20px;
}

.leftControl {
  left: 0px;
}
