.MainContentInnerdiv {
  width: 100%;
  border: 1px solid #dee3e9;
  padding: 0.7rem !important;
  font-family: Jost, sans-serif !important;
}

.MainContentInnerdivOrderHis {
  width: 100%;
  border: 1px solid #dee3e9;
  padding: 0.7rem !important;
  font-family: Jost, sans-serif !important;
}

/* .orderHistory {
  padding: 15px 10px !important;
}

.orderHistory div p {
  padding: 10px 0px;
} */

.BillingShipping {
  border: none;
  padding: 0px !important;
}

.Billing,
.Shipping {
  border: 1px solid #dee3e9;
  width: 49%;
  padding: 15px 10px !important;
}

.shipement-p {
  font-size: 24px !important;
}

.Heading {
  font-size: 20px;
  font-weight: 700;
  color: #50585e;
}

.HeadingOrdrHis {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #50585e;
}

.subHeadingOrdrHis {
  font-weight: normal;
  display: flex;
  font-family: Jost;
}

.Heading-grandTotal {
  font-size: 18px;
  font-weight: 700;
  color: #637381;
}

.ButtonTrackOrder {
  border: 2px solid rgba(0, 128, 68, 0.767);
  padding: 10px 30px;
}

.ButtonTrackOrder:hover {
  background-color: rgba(140, 196, 170, 0.26);
  color: rgb(0, 0, 0);
}
.ButtonTrackOrder:active {
  background-color: rgba(7, 182, 100, 0.767);
}

.mainContentChild {
  padding: 20px 3px;
  width: 100%;
}

.MainContentParent .p {
  font-family: Jost, sans-serif !important;
}

.MainContentParent .Product-Model {
  font-size: 16px;
  color: rgb(73, 72, 70);
}

.cardImg {
  width: 25px;
  height: 25px;
}

.MainContentParent .Product-Model-Parent {
  margin-top: 15px;
}

.productBrandP {
  /* min-height: 44px; */
  height: 23px;
}

.recentViewproductName {
  min-height: 59px;
  margin-top: 20px;
}

.recentlyViewproductPriceAdd {
  margin-top: 20px;
}

.MainContentParent .Product-Name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(31, 27, 23);
}

.MainContentParent .Product-brand {
  font-size: 18px;
  font-weight: 400;
  color: rgb(43, 40, 38);
}

.MainContentParent .Product-price {
  font-size: 18px;
  font-weight: 400;
  color: rgb(43, 40, 38);
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-center {
  -ms-flex-pack: justify !important;
  justify-content: center !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-4 {
  margin-bottom: 30px !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.w-100 {
  width: 100%;
}

.ml-2 {
  margin-left: 10px;
}

.w-50 {
  width: 50% !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 0.7rem !important;
}

.productCard {
  border: 1px solid #dee3e9;
  margin-top: -1px;
  margin-left: -1px;
  width: 33.3%;
  height: 459px;
  padding: 10px;
  position: relative;
}

.productCardImgParent {
  width: 100%;
  height: 238px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductImg {
  height: 238px;
  max-height: 238px;
}

.ProductImageOnlyOrderHistory {
  height: 150px;
}

.productCardImgParentOnly {
  width: 50%;
  height: 176px;
  background: #ffffff;
  border: 1px solid #dee3e9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCardImgParentmodal {
  height: 145px;
}

.ViewOrderGparent {
  overflow-x: hidden;
}

.OrderHistoryImagesContainer {
  z-index: 1;
  margin: auto;
}

.HistoryImagesCo {
  border: 1px solid #dee3e9;
  margin-left: 1px;
  width: 140px;
  height: 160px;
}

.imgOrderHistory {
  width: 140px;
}

.View-Order-Button {
  border: 2px solid #95bfb8;
  box-sizing: border-box;
  padding: 10px 140px;
  width: 100%;

  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.View-Order-Button:hover {
  background-color: rgba(140, 196, 170, 0.26);
  color: rgba(0, 0, 0, 0.692);
}
.View-Order-Button:active {
  background-color: #8ec9bf;
}

.covidAndRocket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input,
.form-select,
textarea {
  width: 100%;
}

.addToCartButton {
  display: none;
}

.AddToCartOnHover {
  display: none;
  position: absolute;
  margin: auto;
  top: 20%;
  width: 91%;
  border-radius: 3px;
}

.h6AddToCart {
  height: 44px;
  left: 0px;
  background: #95bfb8;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  width: 100%;
}

.detailsh6AddToCart {
  width: 80%;
}

.detailsh6AddToCartModel {
  width: 232px;
}

.h6AddToCart:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.deleteButtonWishlist {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* .h6AddToCart:focus .h6AddToCart.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* fix search bar */
.unbxd-as-wrapper {
  width: 100% !important;
}

.unbxd-as-maincontent .unbxd-as-suggestions-overall .unbxd-as-mobile-view {
  width: 100% !important;
}
.Searchbar_rootcustom__1dui- .open-extend-search {
  position: relative;
  height: 20px;
}

.open-extend-search .Searchbar_iconContainer_close {
  position: absolute !important;
  right: 5px !important;
  top: 7px !important;
}

.Navbar_nav__2tz61 .justify-center.open-extend {
  background: none !important;
  top: 2px !important;
  position: relative !important;
  height: 73px;
}

.Searchbar_rootcustom__1dui- {
  height: 73px !important;
  position: relative !important;
}

.Searchbar_iconContainer__266wB {
  padding-left: 0.75em !important;
}

.open-extend-search .Searchbar_iconContainer__266wB {
  padding-left: 0.75em;
  padding-top: 0em;
}

.open-extend-search .inputcustom {
  padding: 0.5rem 0.75rem 0.5rem 2.75rem;
  width: 100%;
}

.closeSvg button {
  outline: none;
}

.closeSvg {
  padding: 20px;
}

.skuParent {
  height: 14px;
}

.skuFontSt {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #50585e;
}
.orderNameP {
  height: 70px;
}

.orderNameP .productName {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #50585e;
}

.productBrandText {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #50585e;
}

.productPriceAdd {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #50585e;
}

.AddToCartOnHover_0ne {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.productCardImgParent:hover ~ .AddToCartOnHover,
.AddToCartOnHover:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maskForProductDetailsPage {
  margin-top: 20vh;
  background-color: #fff;
  margin-left: -10px;
  width: 100vw;
  height: 80vh;
}

.detailsParentModal {
  padding: 10px;
}

.orderHistoryHeading {
  border: 1px solid #dee3e9;
  border-bottom: none;
  padding: 20px 10px;
}

.orderHistoryHeadingUnd {
  padding-left: 12px;
  line-height: 40px;
}

.Layout_root__3wCB1 {
  width: 100vw;
}

.backBtnOH {
  cursor: pointer;
}

/* fix search bar */

@media (min-width: 768px) {
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Asidebar-left-bar {
    display: none;
  }
  .MainContentParent {
    width: 98%;
  }
  .productCard {
    width: 50%;
    height: 372px;
    margin-left: 0px;
  }

  .buyItAgainHeading {
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #50585e;
  }

  .itemQuantity {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #5a7184;
  }

  .orderHistoryHeading {
    padding: 15px 10px;
    margin-top: -60px;
    border: none;
  }

  .MainContentInnerdiv {
    padding: 0px !important;
    margin-top: -60px;
  }

  .MainContentInnerdivOH {
    margin-top: 0px;
  }

  .MainContentInnerdivOHpd {
    padding: 15px 10px !important;
  }

  .mainContentChild {
    padding: 35px 24px;
  }

  .skuParent {
    margin-top: 0.75rem !important;
  }

  .ProductImg {
    max-height: 145px;
  }

  .detailproductCard {
    width: 70vw;
    height: 65%;
    border: 2px solid #eee;
  }

  .detailproductCardAddTCM {
    width: 175px;
    height: 352px;
  }

  .detailproductCardAddTCMWish {
    height: auto;
  }

  .addToCartButton {
    display: block;
  }

  .detailProductImg {
    height: 100%;
  }

  .OrderHistoryImagesContainer {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .productCardImgParent {
    height: 40% !important;
    margin-left: 2px !important;
    width: 100% !important;
  }

  .productCardImgParentmodal {
    height: 145px !important;
  }

  .View-Order-Button {
    padding: 10px;
  }

  .orderNameP {
    min-height: 100px;
  }

  .detailproductCardParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
  }

  .ModalUpperMostParent {
    position: relative;
    background: white;
    background-color: white;
    height: 100%;
    border-top: 1px solid #0000000f;
    padding: 10px;
    outline: none;
  }

  .MainContentInnerdivOHMarMin {
    border: none;
  }

  .mainContentChild {
    border: 1px solid #dee3e9;
  }

  /* The animation code */
  /* @keyframes animationToModal {
    0% {
      bottom: 0px;
    }
  } */

  /* The element to apply the animation to */
  /* .ModalUpperMostParent {
    animation-name: animationToModal;
    animation-duration: 4s;
    bottom: -100px;
  } */

  .subHeadingOrdrHis {
    margin-bottom: 10px;
  }

  .ThankYouCont {
    display: none;
  }

  .Billing {
    margin-bottom: 10px;
  }

  .Billing,
  .Shipping {
    width: 100%;
  }

  .ShippngOnly {
    flex-direction: column;
  }

  .BillingOfShippingOnly {
    border-bottom: none;
  }

  .BillingOfShippingBtnContOnly {
    border-top: none;
    margin-top: -10px;
  }

  .ButtonTrackOrder {
    width: 90%;
    margin-bottom: 10px;
  }

  .MainCoctOrdCont {
    border: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .orderNameP .Product-Name:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .Product-Name:hover .AddToCartOnHover {
    display: none !important;
  }

  .ViewOrderGparentChld {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
  }

  .trackOrderParentDeskV {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .productCardImgParentOnly {
    width: 131px;
    height: 134px;
    background: #ffffff;
    border: 1px solid #dee3e9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ProductImageOnlyOrderHistory {
    height: 130px;
  }

  .View-Order-Button {
    width: 430px;
    height: 56px;
    left: 186px;
    top: 308px;
    background: #ffffff;
    border: 2px solid #95bfb8;
    box-sizing: border-box;

    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* #50585E */

    color: #50585e;
  }

  .OrderHistoryImagesContainerdesk {
    display: flex;
    align-items: center;
  }

  .PaddingForNoItemForDeskTopView {
    padding: 6rem auto;
  }

  .BillingShipping {
    display: flex;
    justify-content: space-between;
  }
}
