.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  min-height: 74px;
}

.nav {
  @apply relative flex flex-row justify-between py-4 md:py-4;
}

.navMenu {
  /*@apply hidden ml-6 space-x-4 lg:block;*/
  @apply hidden space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-accent-5;
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}

/* Custom CSS Starts here */
.logocustom {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}

.mainmenudiv {
  @apply hidden space-x-4 lg:block; padding: 0.5rem 0 1.5rem 0;
}

.header-info {
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
}

.nav{float: left;width:100%;}
.rootcustom input {padding: 0.5rem 0.75rem 0.5rem 2.75rem; width: 100%;}
.header-info-col--small {
    width: 33.33334%;
}
.header-logo {
    margin: 4rem auto 4.5rem;
        margin-top: 4rem;
        margin-bottom: 4.5rem;
    padding: 0;
}
.header-info .header-logo-center .header-logo {
    text-align: right;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 87.92799rem;
    padding: 0 1.10685rem;
    position: relative;
    width: 100%;
}
.black-border{border: 1px solid #000000 !important;}
.navPages-container {
    background: #191919;
}
.banner-display { width: 1400px !important; height: 500px !important; }
.pt-50{padding-top: 50px !important;}
.unbxd-view-all-button a{
      background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px !important;
    text-decoration: none;
}
.unbxd-view-all-button{
    display: inline-block;
    margin-top: -11px;
    vertical-align: middle;
}

.ProductCard_root {float: left; width: 90%; text-align: center; margin: 0; padding: 0 5%; position: inherit;}
.product-main-image{position: inherit; height: 320px; float: left; width: auto; text-align: center; /*border: 1px solid #ddd;*/ min-width: 100%;}

.ken_slide { width: 100%; min-height: 100%; float: left; text-align: center; margin: 0; padding: 50px 0;}
.a-ProductCard, .name_header { float: left; width: 90%; text-align: center; position: inherit; margin: 15px 5% !important;}
.name_header
{
  position: inherit; 
  float: left; 
  width: 100%; 
  text-align: center; 
  margin: 0 auto; 
  display: block; 
  left: inherit; 
  top: inherit;
  right: inherit; 
  bottom: inherit; 
  padding: 0 !important;
}


.HomeInstagramWidget-Section h2 {
    display: block;
    height: 25px;
    margin-bottom: 40px;
    position: relative;
    line-height: 25px;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.HomeInstagramWidget-Section h2 > a {
    display: -ms-flexbox;
    display: flex;
    font-family: arial;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: lowercase;
    width: 100%;
}
.HomeInstagramWidget-Section h2>a:before {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    float: left;
    height: 18px;
    margin-right: 1%;
    width: 49%;
}

.HomeInstagramWidget-Section h2 > a:after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    float: right;
    height: 18px;
    margin-left: 1%;
    width: 49%;
}


.mobileMenu-toggle {display: none;}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
.unbxd-view-all-button {display: block; position: relative;}
.unbxd-view-all-button a {position: absolute; right: 0; top: -30px;}   
.ken_slide.keen-slider__slide{ min-width: calc(33% + 0px) !important; max-width: calc(33% + 0px) !important; transform: translate3d(0px, 0px, 0px);}   
}

@media screen and (max-width: 1023px) {
  .mobileMenu-toggle {display: inline-block; margin-top: 0 !important;}
  .mobileMenu-toggle {height: 3.92857rem; width: 3.92857rem; display: inline-block;  font-size: 20px; right: 150px; overflow: hidden; padding: 0 1.28571rem; position: absolute; z-index: 50; top:5px;}
  .mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon:after, .mobileMenu-toggle .mobileMenu-toggleIcon:before{ background: #2d2d2d; content: ""; display: block; height: 2px; position: absolute; transform: rotate(0); transition: transform .1s ease-in,top .1s ease-in 150ms,bottom .1s ease-in 150ms; width: 1.42857rem;}
  .mobileMenu-toggle .mobileMenu-toggleIcon {top: 1.92857rem; transition: background-color 10ms ease-in .1s;} 
  .mobileMenu-toggle .mobileMenu-toggleIcon:after {bottom: -.5rem;}
  .mobileMenu-toggle .mobileMenu-toggleIcon:before {top: -.5rem;}
    .Navbar_mainmenudiv__CB_eL.menu{ max-width: 300px; background: #fff; position: absolute; top: -1px; left: -300px;  transition: left .1s ease-in; display: block; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 0;}
  .Navbar_mainmenudiv__CB_eL.menu.menu-block{left: 0; transition: left .1s ease-in;}
  .Navbar_mainmenudiv__CB_eL.menu.menu-block .Navbar_navMenu__2ZaDY{display: block !important;}
  .menu.menu-block .Navbar_link__3Blki{width: 100%; padding: 10px 15px;  float: left; display: block; margin: 0 !important; border-top: 1px solid #ddd;}
  #show.is-open .mobileMenu-toggleIcon:before { top: 0; transform: rotate(45deg);}    
  #show.is-open .mobileMenu-toggleIcon:after{bottom: 0; transform: rotate(-45deg);}
  #show.is-open {margin-top: 0 !important;}
  #show.is-open .mobileMenu-toggleIcon{background-color: transparent; transition-delay: .1s;}
  .Searchbar_rootcustom__1dui-{display: inline-block} 
  .is-open .Navbar_mainmenudiv__CB_eL{display: block}
.is-open .Navbar_navMenu__2ZaDY{display: block}  
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
.banner-display{height: auto !important; width: auto !important; }
.banner-display >div img{position:inherit !important; top: inherit !important; left:inherit !important; bottom: inherit !important; right: inherit !important; box-sizing: inherit !important; padding: inherit !important; border: inherit !important; margin: inherit !important; display: inherit !important; width: 100% !important; height: inherit !important; min-width: inherit !important; max-width: inherit !important; min-height: inherit !important; max-height: inherit !important;}
.unbxd-view-all-button{position: relative; display: block; margin-top: 0;}   
.unbxd-view-all-button a{position: absolute; right: 0; top: -25px;}
.main-footer-social-connect {border-right: none;}
.ken_slide.keen-slider__slide{ min-width: calc(49% + 0px) !important; max-width: calc(49% + 0px) !important; transform: translate3d(0px, 0px, 0px);}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
.Navbar_nav__2tz61{ display: block; float: inherit;}
.Navbar_root__2kbI9{min-height: 100px;}
.mobileMenu-toggle{right: 10px; top: 0;}
  

.banner-display{height: auto !important; width: auto !important; }
.banner-display >div img{position:inherit !important; top: inherit !important; left:inherit !important; bottom: inherit !important; right: inherit !important; box-sizing: inherit !important; padding: inherit !important; border: inherit !important; margin: inherit !important; display: inherit !important; width: inherit !important; height: inherit !important; min-width: inherit !important; max-width: inherit !important; min-height: inherit !important; max-height: inherit !important;}
.unbxd-view-all-button{position: relative; display: block; margin-top: 0;}   
.unbxd-view-all-button a{position: absolute; right: 0; top: -30px;}   
.ken_slide.keen-slider__slide{ min-width: calc(100% + 0px) !important; max-width: calc(100% + 0px) !important; transform: translate3d(0px, 0px, 0px);}  
}

 /* Brand Menu CSS */
 .filter_list > ul {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    background-color: #87b7bb;
    margin-bottom: 20px;
}
.filter_list.sticky.fixed > ul {
    margin: 0;
}
.filter_list > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 25px;
}
.filter_list > ul > li > .pagination-link {
    padding: 0 10px;
    color: #fff;
}
#viewbrands .brand_list {
    column-count: 4;
    margin: 0 10px;
}
#viewbrands .brand_list .brand-anchor {
    background-color: #87b7bb;
    border-radius: 50%;
    display: flex;
    width: 50px;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#viewbrands .brand_list .brand-anchor > span {
    font-size: 25px;
    color: #fff;
}
#viewbrands .brandUL {
    margin: 0;
}
#viewbrands .brandUL .brand-item {
    list-style: none;
}
.filter_list.sticky.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
    /*box-shadow: 0 1px 15px 1px #ccc;*/
    margin: 0 auto;
}
.filter_list.sticky {
    z-index: 9999;
}
.filter_list.sticky.fixed + ul.brand_list {
    margin-top: 50px !important;
}
.pagination-item.SearchIcon img {
    display: inline-block;
    margin-top: -5px;
}
.filter_list ul .pagination-item.SearchIcon:hover .pagination-link {
    background-color: transparent;
}
.pagination-item.SearchIcon {
    position: relative;
}
.pagination-item.SearchIcon .SearchBrandWrap {
    position: absolute;
    top: 36px;
    right: inherit;
    background-color: #fff;
    width: 1120px;
    margin-left: -10px;
    box-shadow: 0px 10px 15px -10px #87b7bb;
    overflow: visible !important;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList {
    margin: 0;
    height: 450px;
    overflow: auto;
    display:none;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList .SearchBrandItem {
    list-style: none;
    text-align: left;
    padding: 5px 0px 5px 10px;
    line-height: 1.2rem;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList .SearchBrandItem .SearchBrandLinks {
    font-size: 13px;
    text-decoration: none;
}
.SearchBrandWrap form {
    background-color: #fff;
    padding: 10px;
}
.SearchBrandWrap > form .SearchBrandList{
    margin:10px -10px -10px !important;
    background-color: #FFF;
}
.SearchBrandWrap > form .BrandSearchInput {
    height: 30px;
    width: 100%;
    background-color: #fff !important;
    border-color: transparent !important;
    padding: 10px !important;
    font-size: 13px !important;
    color: #000 !important;
}
.SearchBrandWrap > form .BrandSearchInput:focus {
    outline: none;
}
.pagination-link.Cancel:after {
    content: "X";
    display: inline-block;
    color: #87B7BB;
    width: 20px;
    height: 22px;
    transition: 2s all ease;
    font-weight: 400;
    vertical-align: top;
}
.pagination-link.Cancel:hover:after {
    border-color: #87B7BB;
}
.pagination-link.Cancel > img {
    display: none;
}
.brand_list .brand-anchor + li, .brandUL .brand-anchor {
    display: none !important;
}
span#arrowRight, span#arrowLeft {
    z-index: 0;
}

.navPages-item.viewbrands-dropdown:hover #viewbrands {
    height: auto !important;
}
.navPages-item.viewbrands-dropdown #viewbrands {
    height: 0px !important;
    overflow: hidden;
}
.navPages-list .navPages-item.viewbrands-dropdown .filter_list .pagination-item.SearchIcon .pagination-link.Cancel {
    background-color: #fff;
}
.navPages-list .navPages-item.viewbrands-dropdown .filter_list .pagination-item.SearchIcon .pagination-link {
    padding: 2px 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.SearchBrandWrap .awesomplete {
    display: block;
}
.awesomplete #awesomplete_list_1 {
    margin: 0;
    height: 290px;
    overflow: auto;
    margin-left: -10px;
    box-shadow: none;
    background: #F7F7F7;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
    min-width: 1120px;
    top: 40px;
}
.awesomplete ul#awesomplete_list_1.coulumn_4 {
    column-count: 4;
}
.awesomplete ul#awesomplete_list_1.coulumn_3 {
    column-count: 3;
}
.awesomplete ul#awesomplete_list_1.coulumn_2 {
    column-count: 2;
}
.awesomplete>ul>li {
    padding: 10px;
    font-size: 15px;
    text-align: left;
    color: #000;
}
.awesomplete>ul>li>a {
    text-decoration: none;
    color: #000;
    display:block;
}
.filter_list > ul {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    background-color: #87b7bb;
    margin-bottom: 20px;
}
.filter_list.sticky.fixed > ul {
    margin: 0;
}
.filter_list > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 25px;
}
.filter_list > ul > li > .pagination-link {
    padding: 0 10px;
    color: #fff;
}
#viewbrands .brand_list {
    column-count: 4;
    margin: 0 10px;
}
#viewbrands .brand_list .brand-anchor {
    background-color: #87b7bb;
    border-radius: 50%;
    display: inline-flex;
    width: 50px;
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#viewbrands .brand_list .brand-anchor > span {
    font-size: 25px;
    color: #fff;
}
#viewbrands .brandUL {
    margin: 0;
}
#viewbrands .brandUL .brand-item {
    list-style: none;
}
.filter_list.sticky.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
    /*box-shadow: 0 1px 15px 1px #ccc;*/
    margin: 0 auto;
}
.filter_list.sticky {
    z-index: 9999;
}
.filter_list.sticky.fixed + ul.brand_list {
    margin-top: 50px !important;
}
.pagination-item.SearchIcon img {
    display: inline-block;
    margin-top: -5px;
}
.filter_list ul .pagination-item.SearchIcon:hover .pagination-link {
    background-color: transparent;
}
.pagination-item.SearchIcon {
    position: relative;
}
.pagination-item.SearchIcon .SearchBrandWrap {
    position: absolute;
    top: 36px;
    right: inherit;
    background-color: #fff;
    width: 320px;
    margin-left: -10px;
    box-shadow: 0px 10px 15px -10px #87b7bb;
    overflow: visible !important;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList {
    margin: 0;
    height: 450px;
    overflow: auto;
    display:none;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList .SearchBrandItem {
    list-style: none;
    text-align: left;
    padding: 5px 0px 5px 10px;
    line-height: 1.2rem;
}
.pagination-item.SearchIcon .SearchBrandWrap .SearchBrandList .SearchBrandItem .SearchBrandLinks {
    font-size: 13px;
    text-decoration: none;
}
.SearchBrandWrap form {
    background-color: #fff;
    padding: 10px;
}
.SearchBrandWrap > form .SearchBrandList{
    margin:10px -10px -10px !important;
    background-color: #FFF;
}
.SearchBrandWrap > form .BrandSearchInput {
    height: 30px;
    width: 100%;
    background-color: #fff !important;
    /*border-color: transparent !important;*/
    padding: 10px !important;
    font-size: 13px !important;
    color: #000 !important;
    border: 1px solid #838383;
}
.SearchBrandWrap > form .BrandSearchInput:focus {
    outline: none;
}
.pagination-link.Cancel:after {
    content: "X";
    display: inline-block;
    color: #fff;
    width: 20px;
    height: 22px;
    transition: 2s all ease;
    font-weight: 400;
    vertical-align: top;
}
.pagination-link.Cancel:hover:after {
    border-color: #87B7BB;
}
.pagination-link.Cancel > img {
    display: none;
}
.brand_list .brand-anchor + li, .brandUL .brand-anchor {
    display: none !important;
}
span#arrowRight, span#arrowLeft {
    z-index: 0;
}

/*#menu .navPages > .navPages-list > .navPages-item.Sale > .navPages-action {*/
/*  background: url('https://cdn11.bigcommerce.com/s-hmhnh4h9/product_images/uploaded_images/sale-icon.png') no-repeat left 10px center;*/
/*  padding-left: 40px;*/
/*  color: #d0c6f5;*/
/*}*/
@media (min-width: 801px) {
#viewbrands {
    width: 100% !important;
    max-width: 1170px;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
}    
.body {
    margin-top: 0;
}
li.pagination-item.SearchIcon {
    position: relative;
    left: -40px;
}
.pagination-item:hover .pagination-link {
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}
.filter_list {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
}
#menu .navPages-list .viewbrands-dropdown .navPages-action + #viewbrands {
    padding-top: 0 !important;
    box-shadow: 0px 2px 2px 2px #999;
}
}
@media (max-width: 800px) {
body, body.pace-done {
    padding-top: 57px;
}   
.filter_list.sticky {
    float: right;
    width: 50px;
    height: 550px;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 70px;
}
.filter_list > ul {
    height: auto;
    overflow: auto;
}
#viewbrands .brand_list {
    column-count: 1;
}
.pagination-item.SearchIcon .SearchBrandWrap {
    position: fixed;
    top: 75px;
    right: 50px;
    width: 305px;
    height: auto;
}
.awesomplete #BrandSearchInput {
    width: 285px;
}
}
@media (max-width: 767px) {
.filter_list > ul {
    height: 550px;
    overflow: auto;
}
}
@media (max-width: 560px) {
body, body.pace-done {
    padding-top: 110px;
}
.filter_list.sticky {
    top: 66px;
}
.pagination-item.SearchIcon .SearchBrandWrap {
    top: 67px;
}
.navPages-container.is-open {
    top: 101px !important;
}
}

.menu_mailing #email_signup1 .klaviyo_form_actions .klaviyo_submit_button {
  background-color: rgb(233, 157, 161);
  border-radius: 0;
}
.navPages-item.Wellness > a.navPages-action {
    color: #ffca9a !important;
    background: url(https://cdn11.bigcommerce.com/s-hmhnh4h9/stencil/a1477aa0-67d9-0139-fac5-3e5b806ded74/e/116a1000-ca83-0139-6237-5effc67db7ea/product_images/uploaded_images/welness-icon.png) no-repeat 15px 16px;
    padding-left: 45px !important;
}
@media all and (max-width:800px) {
.navPages-container.is-open .searchbar.searchbar-mobile {
  display: block;
  margin-bottom: 10px;
}
.navPages-container.is-open .searchbar.searchbar-mobile > .container {
  padding: 0;
}   
}
@media all and (max-width:560px) {
.navPages-container.is-open .searchbar.searchbar-mobile {
  display: block;
  margin-bottom: 10px;
}   
}



.awesomplete [hidden] {
    display: none
}

.awesomplete .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0)
}

.awesomplete {
    display: inline-block;
    position: relative
}

.awesomplete>input {
    display: block
}

.awesomplete>ul {
    position: absolute;
    left: 0;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff
}

.awesomplete>ul:empty {
    display: none
}

.awesomplete>ul {
    border-radius: .3em;
    margin: .2em 0 0;
    background: hsla(0, 0%, 100%, .9);
    background: linear-gradient(to bottom right, #fff, hsla(0, 0%, 100%, .8));
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    text-shadow: none
}

@supports (transform:scale(0)) {
    .awesomplete>ul {
        transition: .3s cubic-bezier(.4, .2, .5, 1.4);
        transform-origin: 1.43em -.43em
    }
    .awesomplete>ul:empty,
    .awesomplete>ul[hidden] {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease
    }
}

.awesomplete>ul:before {
    content: "";
    position: absolute;
    top: -.43em;
    left: 1em;
    width: 0;
    height: 0;
    padding: .4em;
    background: #fff;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.awesomplete>ul>li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer
}

.awesomplete>ul>li:hover {
    background: #b7d2e0;
    color: #000
}

.awesomplete>ul>li[aria-selected=true] {
    background: #3d6c8e;
    color: #fff
}

.awesomplete mark {
    background: #e9ff00
}

.awesomplete li:hover mark {
    background: #b5d100
}

.awesomplete li[aria-selected=true] mark {
    background: #3c6b00;
    color: inherit
}

li.pagination-item:first-child {
margin-left: 0;
}
/*# sourceMappingURL=awesomplete.min.css.map */

