@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

/*custom css*/
.hideme{display: none;}
.pb-0i{padding-bottom: 0 !important;}
.staticmsgbelowmenu{width: 100%; text-align: center; font-weight: bold; background: #50585E; color: #ffffff;padding:15px 15px;}
.topbarmsg{width: 100%; font-weight: bold; background: #f6f6f8; color: #5A6268;float: left; padding: 5px 15px 3px 15px; display: none;}
.topbarmsgleft{float: left; text-align: left; background: #f6f6f8; color: #5A6268; width: 50%;}
.topbarmsgright{float: right; text-align: right; background: #f6f6f8; color: #5A6268; width: 50%;}

.nav{float: left;width:100%;}
.inputcustom {padding: 0.5rem 0.75rem 0.5rem 2.75rem; width: 100%;}
.md\:grid-rows-7 { grid-template-rows: repeat(7,minmax(0,1fr));}

footer{background: #f6f6f8; color: #5A6268; position: relative; font-family: nowmedium;}
.social-footer{width: 100%;}
.social-footer .footer-info-heading{}
.social-footer h5 { color: #000; font-size: 1rem; text-transform: uppercase; font-family: nowbold; margin-top: 13px; font-weight: 600; margin-bottom: 13px;}
.social-footer .mobile-soc{display: none}
.mobile-soc{}
.footer-info-heading{}
.icon--instagram{}

.main-footer-links-section1{ width: 33.33334%; border-right: 1px solid #e4e4e4; padding: 2.2137rem 0;}
.main-footer-links-section2{ width: 33.33334%; padding: 2.2137rem 0;}
.main-footer-social-connect{ width: 33.33334%; border-right: 1px solid #e4e4e4; padding: 2.2137rem 0;}
.klaviyo-form-W2TX3f{}

/*Custom Footer Classes*/
footer {}
.mycustfooter{border-top: 1px solid #e4e4e4; background-color: #fff;}
.mycustfooter .px-6{padding-left: 0; padding-right: 0;}
.mycustfooter .mx-auto { margin-left: auto; margin-right: auto; max-width: 87.92799rem; padding: 0 1.10685rem; position: relative; width: 100%;}
.mycustfooter .mx-auto .lg\:col-span-8{ grid-column: span 12/span 12;} 

.mycustfooter .mx-auto .md\:grid-cols-3 {grid-template-columns: repeat(1,minmax(0,1fr));}
.main-footer-links-section1, .main-footer-links-section2, .main-footer-social-connect{float: left; }
.main-footer-links-section1, .main-footer-links-section2{text-align: center; font-weight: 600;}

.mycustfooter .mx-auto .duration-150{border-bottom: none;}
.mycustfooter .mx-auto .duration-150 a{color:#010101; text-decoration: none;}
.mycustfooter .mx-auto .duration-150 a:hover{color:#4f4f4f; text-decoration: none;}
/*.mycustfooter .mx-auto .pt-6.pb-6.md\:flex-row{flex-direction: Column;}*/
.footertermslink{background: #f6f6f6; padding: 15px; text-align: center; float: left; width: 100%;}
.footertermslink span>a { color: #000100; ont-size: 14px; font-family: nowmedium; text-transform: uppercase; text-decoration: none; margin: 0 5px; font-weight: 600;}
.mycustfooter .mx-auto .text-sm{margin: 20px 0 0 0; text-align: center; line-height: 1.5rem;}
.socialicona{margin: 0 5px;}

@media (max-width: 768px) {
  .main-footer-links-section1, .main-footer-links-section2, .main-footer-social-connect { width: 100%;}
  .main-footer-links-section1{border-right: none}
  .social-footer{border-right: none; text-align: center;}
}