.incrementParent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  height: 44px;
  margin-bottom: 10px;
  width: 70%;
}

.QtyText {
  width: 53px;
  background: white;
  font-weight: bolder;
  color: #4b4b4c;
}

.detailsQtyText {
  width: 87px;
  background: white;
  font-size: large;
  text-align: center;
}

.decrementBtn {
  width: 40px;
  background: white;
  border-left: 2px solid #eeeeee;
  font-size: large;
  outline: none !important;
  margin-left: 0.5px;
  height: 36px;
}

.incrementBtn {
  width: 40px;
  background: white;
  border-left: 2px solid #eeeeee;
  margin-left: 0.5px;
  font-size: large;
  outline: none !important;
  height: 36px;
}

.inputEDCartVal {
  border-left: 2px solid #eeeeee;
  width: 50px;
  text-align: center;
  background: white;
  height: 36px;
}

.outOfStock {
  border: 2px solid red;
}

.inStock {
  border: 2px solid green;
}

.ShowPartialProductDetailsPage {
  display: none;
}
