.incrementParent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 44px;
  width: 173px;
}

.QtyText {
  width: 30%;
  background: white;
  font-weight: bolder;
  color: #4b4b4c;
  text-align: center;
}

.detailsQtyText {
  width: 87px;
  background: white;
  font-size: large;
  text-align: center;
}

.decrementBtn {
  width: 20%;
  background: white;
  border-left: 2px solid #eeeeee;
  font-size: large;
  outline: none !important;
  margin-left: 0.5px;
  height: 40px;
}

.incrementBtn {
  width: 20%;
  background: white;
  border-left: 2px solid #eeeeee;
  margin-left: 0.5px;
  font-size: large;
  outline: none !important;
  height: 40px;
}

.AddToCartOnHover_0ne {
  justify-content: center;
  align-items: center;
  height: 55px;
}

.inputEDCartVal {
  border-left: 2px solid #eeeeee;
  width: 30%;
  text-align: center;
  background: white;
  height: 40px;
}

.outOfStock {
  border: 2px solid red;
}

.inStock {
  border: 2px solid green;
}

.ShowPartialProductDetailsPage {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .incrementParent {
    width: 70%;
  }
}
